<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table id ="test">
        <td>뭐지</td>

    </table>
</div>


<tr  th:each ="user : ${member_list}">
    <div th:text = "${user.memberName}" id="name">username</div>
    <td th:text = "${user.memberAddress}">member_address</td>
</tr>

<div id="send">
</div>
</body>

<script>
  $(document).ready(function(){
            const websocket = new WebSocket("ws://localhost:8080/ws/alert");

                let msg = document.getElementById("test");


                websocket.onmessage = function(event) {
                 const data = event.data; // 받은 메시지

                    var str = "<div class='col-6'>";
                    str += "<div class='alert alert-secondary'>";
                    str += "<b>"+ data + "</b>";
                    str += "</div></div>";
                    $("#name").append(str);

            };

 })
</script>
</html>