<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
</head>
<body>
<header>
    <div th:include="/layout/content/header.html"></div>
</header>

<form id="product_form" onsubmit="add_product(); return false;">

    <div>
        <label for="product_name">상품명</label>
        <input id="product_name" name="product_name"/>

        <label for="product_price">상품 가격</label>
        <input id="product_price" name="product_price" oninput="addCommas(this)"/>
    </div>


    <button type="submit">등록하기</button>
</form>
</body>
<script src="/js/content/event.js"></script>
<script src="/js/common.js"></script>

</html>